html{
	background-image: url("../img/wall.jpg");
	height: 300%;

}

#index{
	height: 100%;
}

#logoUni{
	position: absolute;
	background-image: url("../img/logoUniversidad.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100px;
	width: 100px;
	bottom: 5%;
	right: 2.5%;
}

#resultadosDiv{
	background-color: red;
	border-radius: 15px;
	border: 5px solid black;
	position: absolute;
	display: none;
	top: 280%;
	left: 12.5%;
	height: 75%;
	width: 75%; 
}

#resultados{
	position: absolute;

}

label{
	position: absolute;
	text-indent: -10px;
	left: 10%;
}



#titulo{
	position: absolute;
	color: red;
	font-size: 500%;
	text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black, 3px 3px 0 black;
	text-align: center;
}

#contenedorTitulo{
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: -7.5%;
}

#logo{
	position: absolute;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: 65%;
	height: 60%;
	width: 35%;
	right: -10%;
	top: 20%;
}

#placa{
	position: absolute;
	background-image: url("../img/board.png");
	background-repeat: no-repeat;
	background-size: 75%;
	height: 75%;
	width: 50%;
	top: 20%;
	left: -10%;
}

#informacionM{
	display: none;
}

#informacionD{
	position: absolute;
	height: 35%;
	width: 75%;
	border-radius:15px;
	background-color: red;
	border: 5px solid black;
	top: 40%;
	left: 10%;
}

#conD{
	bottom: 35%;
	position: absolute;
}

#venD{
	position: absolute;
	border: 5px solid black;
	border-radius: 15px;
	background-color: green;
	bottom: 5%;
	left: 42.5%;
	width: 15%;
	height: 15%;
	font-size: 125%;
}

#int{
	position: absolute;
	left: 25%;
}

#venD:hover{
	background-color: white;
}

#instruccionesM{
	display:none;
}

#instruccionesD{
	display: none;
	position: absolute;
	background-color: red;
	width: 75%;
	height: 75%;
	border-radius: 15px;
	border: 5px solid black;
	left: 10%;
	top: 10%;
}

#xD{
	position:absolute;
	top: 5%;
	right: 5%;
	background-color: green;
	border-radius: 30px;
	border: 1px solid black;

}

#xD:hover{
	background-color: white;
}

#empD{
	position: absolute;
	left: 40%;
	border: 5px solid black;
	border-radius: 15px;
	background-color: green;
	font-size: 50px;
	text-decoration: none;
	color: black;
}

#empD:hover{
	background-color: white;
}

#preg1{
	position: absolute;
	background-color: red;
	height: 20%;
	width: 75%;
	left: 12.5%;
	top: 5%;
	border-radius: 15px;
    border: 5px solid black;
}

#preg2{
	position: absolute;
	background-color: red;
	height: 20%;
	width: 75%;
	left: 12.5%;
	top: 30%;
	border-radius: 15px;
	border: 5px solid black;
}


#preg3{
	position: absolute;
	background-color: red;
	height: 20%;
	width: 75%;
	left: 12.5%;
	top: 55%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg4{
	position: absolute;
	background-color: red;
	height: 20%;
	width: 75%;
	left: 12.5%;
	top: 80%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg5{
	position: absolute;
	background-color: red;
	height: 30%;
	width: 75%;
	left: 12.5%;
	top: 105%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg6{
	position: absolute;
	background-color: red;
	height: 30%;
	width: 75%;
	left: 12.5%;
	top: 140%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg7{
	position: absolute;
	background-color: red;
	height: 20%;
	width: 75%;
	left: 12.5%;
	top: 175%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg8{
	position: absolute;
	background-color: red;
	height: 20%;
	width: 75%;
	left: 12.5%;
	top: 200%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg9{
	position: absolute;
	background-color: red;
	height: 20%;
	width: 75%;
	left: 12.5%;
	top: 225%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg10{
	position: absolute;
	background-color: red;
	height: 20%;
	width: 75%;
	left: 12.5%;
	top: 250%;
	border-radius: 15px;
	border: 5px solid black;
}

#envio{
	position: absolute;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: red;
    border-radius: 6px;
    border: 2px solid #000000;
    top: 285%;
    left: 42.5%;
}

#envio:hover{
	position: absolute;
	color: #1883ba;
    background-color: #ffffff;
}