html{
	background-image: url("../img/wall.jpg");
	height: 700%;
}

#index{
	height: 100%;
}

#logoUni{
	position:absolute;
	background-image: url("../img/logoUniversidad.png");
	background-repeat: no-repeat;
	background-size: 50px;
	width: 50px;
	height: 50px;
	bottom: 2.5%;
	left: 40%;
}


#resultadosDiv{
	background-color: red;
	border-radius: 15px;
	border: 5px solid black;
	position: absolute;
	display: none;
	top: 663%;
	left: 12.5%;
	height: 75%;
	width: 75%; 
}

#resultados{
	position: absolute;

}

#titulo{
	position: absolute;
	color: red;
	font-size: 250%;
	text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black, 3px 3px 0 black;
	text-align: center;
}

#contenedorTitulo{
	position: absolute;
	width: 80%;
	height: 50%;
	left: 12.5%;
	top: 0%;
}

#resultadosDiv{
	background-color: red;
	border-radius: 15px;
	border: 5px solid black;
	position: absolute;
	display: none;
	top: 470%;
	left: 12.5%;
	height: 90%;
	width: 75%; 
}

#resultados{
	position: absolute;
	
}

#logo{
	position: absolute;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: 65%;
	height: 60%;
	width: 35%;
	right: -10%;
	top: 10%;
}

#placa{
	position: absolute;
	background-image: url("../img/board.png");
	background-repeat: no-repeat;
	background-size: 75%;
	height: 75%;
	width: 50%;
	top: 10%;
	left: -10%;
}

#informacionD{
	display: none;
}

#informacionM{
	position: absolute;
	height: 50%;
	width: 90%;
	background-color: red;
	border-radius: 15px;
	border: 5px solid black;
	top: 35%;
}

#conM{
	position:absolute;
	top: -5%;
}

#venM{
	position: absolute;
	background-color: green;
	bottom: 0%;
	right: 25%;
	width: 50%;
	bottom: 2.5%;
	border-radius: 15px;
	border: 2.5px solid black;
	text-decoration: none;
}

#instruccionesD{
	display:none;
}

#instruccionesM{
	display: none;
	position: absolute;
	background-color: red;
	border: 5px solid black;
	border-radius: 15px;
	height: 80%;
	top: 5%;
	left: 0.5%;
}

#xM{
	position: absolute;
	right: 5%;
	top: 2.5%;
	width: 10%;
	background-color: green;
	border: 2.5px solid black;
	border-radius: 30px;
}

#empM{
	position: absolute;
	background-color: green;
	border: 2.5px solid black;
	border-radius: 30px;
	left: 30%;
	text-decoration: none;
	color: black;
	font-size: 35px;
	bottom: 10%;
}

#preg1{
	position: absolute;
	background-color: red;
	height: 50%;
	width: 75%;
	left: 12.5%;
	top: 5%;
	border-radius: 15px;
    border: 5px solid black;
}

#preg2{
	position: absolute;
	background-color: red;
	height: 45%;
	width: 75%;
	left: 12.5%;
	top: 60%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg3{
	position: absolute;
	background-color: red;
	height: 50%;
	width: 75%;
	left: 12.5%;
	top: 110%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg4{
	position: absolute;
	background-color: red;
	height: 50%;
	width: 75%;
	left: 12.5%;
	top: 165%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg5{
	position: absolute;
	background-color: red;
	height: 70%;
	width: 75%;
	left: 12.5%;
	top: 220%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg6{
	position: absolute;
	background-color: red;
	height: 70%;
	width: 75%;
	left: 12.5%;
	top: 295%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg7{
	position: absolute;
	background-color: red;
	height: 65%;
	width: 75%;
	left: 12.5%;
	top: 370%;
	border-radius: 15px;
	border: 5px solid black;
}


#preg8{
	position: absolute;
	background-color: red;
	height: 70%;
	width: 75%;
	left: 12.5%;
	top: 440%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg9{
	position: absolute;
	background-color: red;
	height: 65%;
	width: 75%;
	left: 12.5%;
	top: 515%;
	border-radius: 15px;
	border: 5px solid black;
}

#preg10{
	position: absolute;
	background-color: red;
	height: 60%;
	width: 75%;
	left: 12.5%;
	top: 585%;
	border-radius: 15px;
	border: 5px solid black;
}


#envio{
	position: absolute;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: red;
    border-radius: 6px;
    border: 2px solid #000000;
    top: 665%;
    left: 30%;
}

#envio:hover{
	position: absolute;
	color: #1883ba;
    background-color: #ffffff;
}